.nav{
    background-color: #171717;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.navigation_section{
    width: 60%;
}

.blog_dropdown{
    position: relative;
    z-index: 1;
}

.blog_dropdown, .category_dropdown{
    position: relative;
    z-index: 1;
}

.dropdown_menu{
    padding: 0;
    width: 150px;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 0;
    background-color:#171717 ;
}
.dropdown_menu li a{
    padding: 6px 12px;
    border-radius: 5px;
    transition: 0.3 all ease-in;
}
.dropdown_menu li a:hover{
    background-color: #ffffff;
    color: #171717;
}

/* for first naviagtion menu in header section  */

.first_nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 0;
}

.first_nav a{
    text-decoration: none;
    color: #ffffff ;
}

.social_links{
    margin-right: 10px;
}

.first_nav .logo_link{
    font-size: 40px;
}

.first_menu_link{
    font-size: 22px;
}

.search_menu_link{
    display: flex;
    align-items: center;
    text-transform: capitalize;
    line-height: 45px;
    
}

.search_menu_link span{
    padding: 0 6px;
    font-size: 16px;
}

.nav_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 10px;
}

.nav_menu span{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    right: -5px;
}
.dropdown_menu li{
    list-style: none;
    padding: 10px 0;
}
/* for second navigation section in hearder  */

.second_nav{
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.second_nav ul{
    display: flex;
}

.second_nav ul li{
    list-style: none;
    margin-left: 20px   ;
}

.second_nav ul li a{
    text-decoration: none;
    color: #a2a099;
}